.BookingCard {
  background-color: #7ba2a0;
  height: 300px;
  border-radius: 1%;
}

.BookingCardDetail {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-direction: column;
  width: 200px;
  float: right;
  border: 1px solid grey;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  background-color: #db9c66;
  border-radius: 2%;
}
